* {
  background: #f3f5fc;
  font-family: Inter;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}
header {
  display: flex;
  align-items: center;
  height: calc(
    48px + 2 * 40px
  ); /* Altura de la imagen + espacio superior e inferior */
  padding-bottom: 40px;
}

header .logo {
  width: 120px;
  height: 48px;
  top: 40px;
  left: 40px;
  margin-bottom: 40px;
}
main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-left: 80px;
}
.text-area {
  border: none;
  color: #0a3871;
  margin-top: 20px;
  text-transform: lowercase;
}

::placeholder {
  color: #0a3871;
}
.text-area:focus {
  outline: none;
}
.recomendaciones {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #0a3871;
  margin-top: 10px;
}

.recomendaciones li {
  list-style-type: circle;
  margin-bottom: 5px;
}

.botones {
  display: flex;
  gap: 24px;
  margin-top: 20px;

}

.btn-encriptar,
.btn-desencriptar {
  width: 150px;
  height: 50px;
  border-radius: 24px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
}

.btn-encriptar {
  background: #0a3871;
  color: white;
  border: none;
}

.btn-desencriptar {
  background: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
}

.mensaje {
  background: white;
  border: none;
  border-radius: 24px;
  color: #0a3871;
  margin-left: 90px;
  margin-top: 20px;
  padding-left: 20px;
}
.mensaje:focus {
  outline: none;
}

.copiar-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  margin-left: 100px;
}

.copiar {
  border: 1px solid #0a3871;  
  color: #0a3871;
  background: #d8dfe8;
  width: 150px;
  height: 50px;
  border-radius: 24px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
}
